venv/
venv312/

__pycache__/
*.pyc

.env

models/*.pkl

notes.txt

datasets/plantvillage/
models/disease_model.pt
models/disease_classes.txt
datasets/plantdoc/
datasets/rice_field/
datasets/sugarcane_field/
datasets/wheat_field/
datasets/unified_dataset/